[*.lua]
indent_style=space
indent_size=2

[*.{json}]
indent_size = 2
trim_trailing_whitespace = true

[*.{ps1,psm1,psd1}]
indent_size = 4
trim_trailing_whitespace = true

[*.{ps1xml,props,xml,yaml}]
indent_size = 2
